<div class="container">
    <div class="header-top">
        <a href="/" class="logo">
            <h2 class="logo__title">Chợ sinh viên</h2>
        </a>
        <div class="header-search">
            <input type="text" class="search__input" placeholder="Tìm kiếm" />
            <button class="search__btn">
                <img src="./assets/icons/search.svg" alt="" class="search__icon" />
            </button>
        </div>
        <div class="top-act">
            <a href="./sign-in.html" class="btn top-act__btn">Đăng nhập</a>
            <a href="#!" class="btn top-act__btn">Đăng ký</a>
        </div>
    </div>
    <div class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="/" class="nav__link">Trang chủ</a>
            </li>
            <li class="nav__item">
                <a href="#!" class="nav__link">
                    Danh mục sản phẩm
                    <img src="./assets/icons/arrow-down.svg" alt="" class="nav__icon" />
                </a>
                <div class="sub-menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="./category-houseware.html" class="menu__link">Đồ gia dụng</a>
                        </li>
                        <li class="menu__item">
                            <a href="./category-electric.html" class="menu__link">Điện tử</a>
                        </li>
                        <li class="menu__item">
                            <a href="./category-refrigeration.html" class="menu__link">Đồ điện lạnh</a>
                        </li>
                        <li class="menu__item">
                            <a href="./category-clothes.html" class="menu__link">Quần áo</a>
                        </li>
                        <li class="menu__item">
                            <a href="./category-other.html" class="menu__link">Khác</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav__item">
                <a href="#!" class="nav__link">Liên hệ</a>
            </li>
        </ul>
    </div>
</div>
