@use "../abstracts";

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Arial", "Helvetica", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
    padding: 0;
    font-family: inherit;
    color: inherit;
    outline: none;
    border: none;
}

input,
textarea {
    background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
    transition: background-color 1s 9999s;
    -webkit-text-fill-color: inherit;
    caret-color: inherit;
}

.icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(7480%) hue-rotate(276deg) brightness(125%)
        contrast(100%);
}

.container {
    @include abstracts.screen(sm) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

i,
em {
    font-style: italic;
}

b,
strong {
    font-weight: 600;
}
.separate {
    background: #33333326;
    height: 1px;
    margin: 30px 0;
}
